.bww_logo{
    width: 28px;
    height: 28px;
}

.navigation-link{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
}
a:hover{
    color: red;
}
.navigation-menu{
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
}
.header{
    position: sticky;
    top: 0;
    background-color: white;
    padding: 5px;
    font-weight: 400;
}
main{ 
    background-color: black;
    text-align: center;
    height: 200vh;
}
body{
    margin-left: 0;
    margin-right: 0;
}
.wal-logo{
    top: 60px;
    width: 160px;height: 160px;
    position: relative;
}
@import url(https://fonts.google.com/specimen/Oswald?query=Osw);