main {
  height: 200vh;
}

a{
  color: azure;
  padding: 5px;
  margin: 0;
  font-family: 'NarrowNews';
  align-content: center;
  font-size: 25px;
  text-decoration: none;
  gap: 25px;
}
a:hover{
  color: rgb(230, 229, 192);
}

.navbar{
width: 100%;
display: flex;
background-color: rgb(102, 102,102);
position: sticky;
top: 0;
left: 0;
z-index: 1000;
justify-content: flex-start;

padding: 5px;
font-weight: 400;
}
img{
  width: 50%;
}





@font-face {
  font-family: "NarrowNews"; 
  src: url("./fonts/ClanOT-NarrowNews.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
  } 